<fieldset class="contentStyle">
    <legend class="titleStyle">Información de la tarea</legend>
    <div class="row">
        <div class="col-md-6"><label> Horas de trabajo: </label></div>
        <div class="col-md-6"><input class="form-control" min="0" type="number" value="{{horas_trabajo}}" name="horas-trabajo-{{ID_TAREA}}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"><label>Cargo: </label></div>
        <div class="col-md-6"><input class="form-control" type="text"  value="{{cargo}}" name="cargo-{{ID_TAREA}}"></div>
    </div>
</fieldset>
<br>
<hr>