<fieldset class="contentStyle">
    <legend class="titleStyle">Información de la tarea</legend>
    <input type="hidden" value="#id">
    <div class="row">
        <div class="col-md-6"><label> Horas de trabajo: </label></div>
        <div class="col-md-6"><input class="form-control" min="0" type="number" name="horas-trabajo-#"></div>
    </div>
    <div class="row">
        <div class="col-md-6"><label>Cargo: </label></div>
        <div class="col-md-6"><input class="form-control" type="text" name="cargo-#"></div>
    </div>
</fieldset>