<div class='container contact'>

    <div id="titulo">
        <hr>
        <h2><strong>Editar Sucursal</strong></h2>
   
                <div class="container container-fixed" >
                    <hr>

                    <form role="form" method="post" action="index.php" style="margin-right:50px">
                        <input type="hidden" name="mode" value="editarSucursalFormulario">
                        <input type="hidden" name="codigoh" value="{{codigo}}">
                            <div class="col-xs-12">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        

                                        <div class="row">
                                            
                                            <div class="col-md-5"></div>
                                            <div class="col-md-2"><label>Codigo:</label></div>
                                            <div class="col-md-4"><input type="number" min="1" max="99999999999999999999"/ class="form-control" value="{{codigo}}" name="codigo" required></div>
                                            
                                        </div>
                                        <br>
                                        <div class="row">
                                            
                                            <div class="col-md-5"></div>
                                            <div class="col-md-2"><label>Nombre:</label></div>
                                            <div class="col-md-4"><input type="text" class="form-control" value="{{nombre}}" name="nombre" required></div>
                                            
                                        </div>
                                        
                                        <br>
                                        <div class="row">
                                            
                                            <div class="col-md-5"></div>
                                            <div class="col-md-2"><label>Ciudad:</label></div>
                                            <div class="col-md-4"><input type="text" class="form-control" value="{{ciudad}}" name="ciudad" required></div>
                                            
                                        </div>
                                        <br>
                                        <div class="row">
                                            
                                            <div class="col-md-5"></div>
                                            <div class="col-md-2"><label>Dirección:</label></div>
                                            <div class="col-md-4"><input type="text" class="form-control" value="{{direccion}}" name="direccion" required></div>
                                            
                                        </div>
                                        <hr>

                                        <div class"row">
                                            <div class="col-md-7"></div>
                                            <div class="col-md-3"><button   class="btn btn-primary " type="submit">Guardar cambios</button></div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <hr>
                                </div>

                                <div class="col-md-1">
                                    <div class="row">
                                            
                                            <div class="col-md-12">
                                            <img src="public/images/sucursal2.png">

                                            </div>

                            </div>
                            </div>

                                    
                            </div>                          
                    </form>
                </div>
        </div>
</div>