<!----- //End-header---->
<div class="main" >
	<div class='container contact'>
		<hr>
		<h2 id="titulo"><strong>Detalles del pedido</strong></h2>
		<hr>
		<div class="row">
			<div class="col-md-12">
				
				<div class="row">
					<div class="col-md-3">
						<label>Código pedido:</label>&nbsp {{cod_pedido}}
					</div>
					<div class="col-md-3">
						<label>Cliente:</label>&nbsp {{emisor}}
					</div>
					<div class="col-md-3">
						<label>Proveedor:</label>&nbsp {{receptor}}
					</div>
					<div class="col-md-3">
						<label>Fecha de pedido:</label>&nbsp {{fecha_pedido}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label>Fecha de entrega:</label>&nbsp {{fecha_entrega}}
					</div>
					<div class="col-md-3">
						<label>Estado:</label>&nbsp {{estado}}
					</div>
					<div class="col-md-3">
						<label>Tipo:</label>&nbsp {{tipo}}
					</div>
					<div class="col-md-3">
					</div>
				</div>
				<hr>
				<h3 id="titulo">Agrega piezas al pedido</h3>
				<br>

				<div class="row">
					<div class="col-md-2">
					</div>
					<div class="col-md-3">
						<label>Piezas disponibles</label>
					</div>
					<div class="col-md-3">
						<label>+Cantidad</label>
					</div>
					<div class="col-md-3">
					</div>
				</div>
				<div class="row">
				<form id="agregarProductos">
					<input type="hidden" name="mode" value="agregarPiezaPedido">
					<input type="hidden" name="cod_receptor" value="{{cod_receptor}}">
					<input type="hidden" name="cod_pedido" value="{{cod_pedido}}">
						<div class="col-md-2">
						</div>
						<div class="col-md-3">
							<select class="form-control" name="cod_pieza">
                                            {{PRODUCTOS}}
                                      </select>
						</div>
						<div class="col-md-3">
							<input class="form-control" type="number" name="cantidad" required="" min="1">
						</div>
						<div class="col-md-2">
							<button d type="submit" class="btn btn-info" {{deshabilitar}}>Agregar pieza</button>
						</div>
						
				</form>
				<div class="col-md-2">
							<a href="index.php?mode=finalizarPedido"><button class="btn btn-success">Finalizar pedido</button></a>
						</div>
				</div>
				<br>
				<div id="busqueda_exitosa">
					
				</div>
				<hr>
			</div>
		</div>

	</div>

</div>


<script>

		function realizarAjax1(cod_pedido, cod_pieza) {
					var url = "index.php?mode=eliminarPiezaPedido&cod_pedido="+cod_pedido+"&cod_pieza="+cod_pieza+"";
                    //var con el id del elemento html en que desea insertar la info
                    //despues del procesamiento
                    var id = "#busqueda_exitosa";
                    //llama a la funcion ajax
                   $.ajax({
						cache: false,
                        url: url,
                        type: 'GET',
                        //esta funncion se ejecuta cuando el php a terminado de procesar
                        //con el resultado e inserta el resultado en algun elemento html
                        success: function (array) {
                            $(id).html(array);
                        }
                    });
                }


            //funcion para que se ejecute el script cuando termine de cargar
            $(document).ready(function () {

                //funcion para agregar el ajax al submit del formulario
                $("#agregarProductos").submit(function (e) {
                    //previene que se envien los datos por la url

                    e.preventDefault();
                    //convierte los datos del formulario a arrays
                    var datos = $(this).serializeArray();
                    //var con la url del archivo php
                    var url = "index.php";
                    //var con el id del elemento html en que desea insertar la info
                    //despues del procesamiento
                    var id = "#busqueda_exitosa";
                    //llama a la funcion ajax
                    realizarAjax(datos, url, id);

					
                });
                //funcion ajax para enviar formulario a php
                function realizarAjax(datos, url1, id) {

                    $.ajax({
                        data: datos,
                        url: url1,
                        type: 'POST',
                        //esta funncion se ejecuta cuando el php a terminado de procesar
                        //con el resultado e inserta el resultado en algun elemento html
                        success: function (array) {
                            $(id).html(array);
                        }
                    });
                }
            });
</script>