<div class="container banner">
    <div class="row">
        <div class='col-md-7'>
            <img class="img-responsive" src="public/images/banner2.png"/>
        </div>
        <div class='col-md-5 banner_right'>
            <h1>PROYECTOS </h1>
            <h2>Administra tus proyectos aquí!</h2>
            <a class="banner_btn" href="">Ver más</a>
        </div>
    </div>
</div>
<br>

<div class="main">
    <div class='container content_top'>
        <div class='row'>
            <div class="col-md-4 flag_grid">
                <img class="img-responsive" src="public/images/empresa.png"/>
                <div class="flag_desc">
                    <h3><a href="#">Suscribete GRATIS.</a></h3>
                    <a href="#" class="link">Ver Más</a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4 flag_grid">

                <img class="img-responsive" src="public/images/empresa.png"/>
                <div class="flag_desc">
                    <h3><a href="#">¿Quienes somos?.</a></h3>
                    <a href="#" class="link">Ver Más</a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="public/images/empresa.png"/>
                <div class="flag_desc">
                    <h3><a href="#">¡CONTÁCTANOS!</a></h3>
                    <a href="#" class="link">Ver Más</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <br>
